* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0000005b, #000000);
}

form {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

input {
    width: 270px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #94b8db;
    box-shadow: 0 0 5px rgba(148, 184, 219, 0.5);
}

button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #94b8db;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #6fa8dc;
    transform: scale(1.00);
}
